.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.album-list-item {
  border-radius: .5rem;
}

.album-list-item:hover {
  background-color: #ffffff08;
}

.album-list-item-row {
  display: grid;
  grid-template-columns: 20vw 1fr 1fr;
  align-items: center;
}

.album-list-item-row :last-child {
  justify-self: flex-end;
}

.cart-icon-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 2rem;
  padding: 2px 6px;
  font-size: 12px;
}